@import "./sass/main.sass";


.btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #1E4C2F;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #1E4C2F;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #FFFFFF;
    color: #1E4C2F;
    border: 1px solid #1E4C2F
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

